<!DOCTYPE html>
html(lang="en")
    head
        style
            include ./style.css
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body        
        div(id="container")
            div(id="content")
                h1 Uptime #{uptime}
                h1 Games played since uptime #{games}
                h1 Currently #{currentGames} in progress
                h1 Ram usage #{ramUsage}